<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>ToDo-Checker</title>

    <!---title--->
    <div class="container-fluid" id="title" >
      <h1 class="display-4">ToDo-Checker</h1>
      <hr style="border-style: solid none; border-width: 2px">
    </div>
    <!---title--->

  </head>
  <body>
    <script src="_js/controller.js" charset="utf-8"></script>
    <script src="_js/model.js" charset="utf-8"></script>

    <script>
      require('./render.js');
    </script>

    <!---path input--->
    <div class="input-group mb-3" id="path">
      <input type="text" ref='text' class="form-control" placeholder="Path \." aria-label="Path \." aria-describedby="basic-addon2" >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" v-on:click="update()"><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
    <!---path input --->

    <!---table of tasks --->
    <div id="tasks">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" @click="sort('importanse')">!</th>
            <th scope="col" @click="sort('text')">Task</th>
            <th scope="col" @click="sort('author')">Author</th>
            <th scope="col" @click="sort('date')">Date</th>
          </tr>
        </thead>
        <tbody v-for="todo in sorted" v-on:click="details(todo)">
          <tr class="clickable-row">
            <th>{{todo.importanse}}</th>
            <th>{{todo.text}}</th>
            <th>{{todo.author}}</th>
            <th>{{todo.date}}</th>
          </tr>
        </tbody>
      </table>
      <div id="control" class="input-group">
        <input class="form-control" v-model="search" placeholder="Search" style="margin-right:10px">
          <select v-model="selected" style="margin-right:10px">
            <option v-for="option in options" v-bind:value="option.value" >{{ option.value }}</option>
          </select>

        <div class="btn-group" role="group">
          <button class="btn btn-secondary" @click="prevPage">Previous</button>
          <button class="btn btn-light">{{currentPage}}</button>
          <button class="btn btn-secondary" @click="nextPage">Next</button>
        </div>
      </div>

    </div>
    <!---table of tasks --->

    <script src="_js/vue.js" charset=" utf-8"></script>
  </body>
</html>
