#title{
  height: 100px;
  width: 95%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;
  background-color: #ffffff;
  -webkit-app-region: drag;
}
#tasks{
  padding: 10px;
  padding-top: 150px;
}

th {
  cursor:pointer;
}

#close{
  cursor:pointer;
  margin: 0 auto;
  position: fixed;
  top: 10px;
  left: auto;
  right: 10px;
  z-index: 999;
}

#path{
    width: 98%;
  margin: 0 auto;
  margin-left: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 333;
  background-color: #ffffff;
  padding-top: 100px;
}
